    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header py-5" style="color:white; height: 100px; padding-top: 10px;font-size: larger">
      <h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Online Exam App</h2>
    </div>
    <ul class="nav navbar-nav navbar-right" style="height: 100px; padding-top: 20px;font-size: large;">
      <li><a routerLink="home" style="color: white;"><i class="fa fa-fw fa-home"></i>Home</a></li>
          <li><a routerLink="aboutus" style="color: white;"><i class="fa fa-users" aria-hidden="true"></i>
            About us</a></li>
      <li><a routerLink="register"  style="color: white;"><i class="fa fa-pencil" aria-hidden="true"></i>Signup</a></li>
          <li><a routerLink="login"  style="color: white;"><i class="fa fa-fw fa-user"></i>Login</a></li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet> 
</div>

<!-- <app-register></app-register> -->