<p>forget-password works!</p>
<div class="card-body"  class="center">
    <br>
    <h4>Forget Password</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 400px;">
        <div class="form-row">
            <div class="form-group col">
                <label>Student ID</label>
                <input type="number" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">Student ID is required</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1" id="mailButton">Send Mail</button>

            <!-- Set STUDENT LOGIN COMPONENT -->
            <button class="btn btn-secondary" id="loginButton" type="button" [routerLink]="['/login']">Login</button>
        </div>
    </form>
    
    <div class="errorDivision">
        {{message}}
    </div>
</div>
