<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header py-5" style="color:white; height: 100px; padding-top: 10px;font-size: larger">
      <h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Online Exam App</h2>
    </div>
    <ul class="nav navbar-nav navbar-right" style="height: 100px; padding-top: 20px;font-size: large;">
      <li><a routerLink="/aboutus" style="color: white;"><i class="fa fa-users" aria-hidden="true"></i>
      About us</a></li>
          
      <li><a routerLink="/register"  style="color: white;"><i class="fa fa-pencil" aria-hidden="true"></i>Signup</a></li>
    </ul>
  </div>
</nav>

<div class="card-body"  class="center">
    <br>
    <h4>Forget Password</h4>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 400px;">
        <div class="form-row">
            <div class="form-group col">
                <label>Enter registered email</label>
                <input type="email" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">Email is required</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1" id="mailButton">Send Mail</button>

            <!-- Set STUDENT LOGIN COMPONENT -->
            <button class="btn btn-secondary" id="loginButton" type="button" [routerLink]="['/login']">Login</button>
        </div>
    </form>
    
    <div class="errorDivision">
        {{message}}
    </div>
</div>
